.type-animation {
    font-family: Rosario, sans-serif;
    color: slateblue;
	display: inline-flex;
	width: 0;
	overflow: hidden;
	padding-right: 0.08em;
	position: relative;
}

.type-animation:after {
	content: "";
	background: #f7f3ff;
	position: absolute;
	right: 0;
	top: -0.05em;
	bottom: -0.05em;
	width: 0.08em;
	border-right: 2px solid transparent;
}

.type-animation.animating {
	animation: type 1620ms;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

.type-animation.animating:after {
	animation: cursor 320ms 8.625 ease-in-out;
}

@keyframes cursor {
	0%,
  100% {
		border-color: #f7f3ff;
	}

	50% {
		border-color: #241b5b;
	}

	100% {
		width: 0;
	}
}

@keyframes type {
	11.11111% {
		width: 1.8em;
	}

	22.22222% {
		width: 3.6em;
	}

	33.33333% {
		width: 5.3em;
	}

	44.44444% {
		width: 7.1em;
	}

	55.55556% {
		width: 8.9em;
	}

	66.66667% {
		width: 10.7em;
	}

	77.77778% {
		width: 12.4em;
	}

	88.88889% {
		width: 14.2em;
	}

	100% {
		width: 16em;
		padding-right: 0;
	}
}
