#title {
    font-size: 7em;
    font-weight: 475;
}

#introduction {
    background-image: url("../img/homepage.jpg");
    background-size: cover;
}

#introduction button {
    font-size: 1.6em;
    width: 9rem;
    height: 5rem;
    padding: 0 2.45rem;
    border-radius: 4rem;
}

#introduction p {
    font-size: 1.6em;
}

p {
    font-size: 1.5em;
}

#theme_color_desktop, #theme_color_mobile {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

#footer {
    margin-top: 2rem;
}

#footer a {
    color: rgb(11, 87, 208);
}

#footer a:hover {
    color: #051d49;
    text-decoration: underline;
}

#footer dialog a::before {
    content: "◉";
    margin-right: 0.5rem;
}

#news article p {
    font-size: medium;
}

#news article img {
    height: 12em;
}

#news article {
    border: #eee;
    background-color: #eee;
    transition: 0.3s;
}

#news article:hover {
    background-color: #c2e7ff;
    transition: 0.3s;
    cursor: pointer;
}
